ABUSEAPI = '<ABUSE IP API>'

ABUSE_URL = "https://api.abuseipdb.com/api/v2/check"
VT_URL = 'https://www.virustotal.com/api/v3/ip_addresses'

VT_INFO_FILE = 'vt.json'
ABUSEIP_INFO_FILE = 'abuseip.json'
CONN_RECORD_FILE = "connections.json"
HISTORY_FILE = 'history.json'

SAFE_THRESHOLD = 15
MALICIOUS_THRESHOLD = 49

RESCAN_INTERVAL = 172800
